!
!

!
! Last configuration change at 09:41:19 UTC Thu Dec 9 2021
!
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
!
#
#Provider Edge router
#
hostname R3
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
#
#On active ip cef pour faire fonctionner BGP
#
ip cef
!
!
!
!
!
!
no ip domain lookup
no ipv6 cef
!
!
#
#On active LDP
#
mpls label protocol ldp
#
# le mode explicit-null permet d'envoyer un label null pour le dernier saut
#
mpls ldp explicit-null
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
ip tcp synwait-time 5
! 
!
!
!
!
!
!
!
!
#
#Configuration des interfaces du PE
#
!
!
!
#
#La configuration de l'addresse de Loopback est importante pour LDP
#pour éviter des soucis de PHP
#
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
 ip ospf 1 area 1
!
#
#On configure les interfaces selon les voisins
#
interface Ethernet0/0
 no ip address
 shutdown
 duplex auto
!
interface GigabitEthernet0/0
 no ip address
 shutdown
 media-type gbic
 speed 1000
 duplex full
 negotiation auto
!
interface GigabitEthernet1/0
 ip address 10.10.3.3 255.255.255.0
 ip ospf 1 area 1
 negotiation auto
 mpls ip
!
interface GigabitEthernet2/0
 ip address 10.10.2.3 255.255.255.0
 ip ospf 1 area 1
 negotiation auto
 mpls ip
!
#
#Interface vers l'extérieur
#
interface GigabitEthernet3/0
 ip address 10.10.8.3 255.255.255.0
 ip ospf 1 area 1
 negotiation auto
!
interface GigabitEthernet4/0
 ip address 10.10.53.3 255.255.255.0
 ip ospf 1 area 1
 negotiation auto
 mpls ip
!
#
#Config OSPF
#
router ospf 1
 router-id 3.3.3.3
!
#
#Config BGP
#
router bgp 2
 bgp router-id 3.3.3.3
 bgp log-neighbor-changes
 neighbor 10.10.2.2 remote-as 2
 neighbor 10.10.3.4 remote-as 2
 neighbor 10.10.8.8 remote-as 3
 neighbor 10.10.51.1 remote-as 2
 !
 address-family ipv4
  network 10.10.101.0 mask 255.255.255.0
  neighbor 10.10.2.2 activate
  neighbor 10.10.3.4 activate
  neighbor 10.10.8.8 activate
  neighbor 10.10.51.1 activate
 exit-address-family
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
#
#On utilise l'addresse de loopback pour LDP comme expliqué précedemment
#
mpls ldp router-id Loopback0 force
!
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login
!
!
end
