!
!
!
!
!
!
!
!
!
!

!
! Last configuration change at 09:14:39 UTC Thu Dec 2 2021
!
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
!
#
#Customer Edge router
#
hostname R8
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
#
#On active ip cef pour faire fonctionner BGP
#
ip cef
!
!
!
!
!
!
no ip domain lookup
no ipv6 cef
!
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
ip tcp synwait-time 5
! 
!
!
!
!
!
!
!
!
!
#
#Configuration des interfaces du CE
#
!
!
interface FastEthernet0/0
 ip address 10.10.80.8 255.255.255.0
 duplex full
!
interface GigabitEthernet1/0
 ip address 10.10.102.8 255.255.255.0
 negotiation auto
!
interface GigabitEthernet2/0
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet3/0
 ip address 10.10.8.8 255.255.255.0
 negotiation auto
!
#
#Config BGP
#
router bgp 3
 bgp router-id 8.8.8.8
 bgp log-neighbor-changes
 neighbor 10.10.8.3 remote-as 2
 neighbor 10.10.80.4 remote-as 2
 !
 address-family ipv4
  network 10.10.102.0 mask 255.255.255.0
  neighbor 10.10.8.3 activate
  neighbor 10.10.80.4 activate
 exit-address-family
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
!
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 login
!
!
end
